---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="SQL Базовый уровень" 
	    description="SQL — декларативный язык программирования, применяемый для создания, модификации и управления данными в реляционной базе данных, управляемой соответствующей системой управления базами данных. В этом курсе вы изучите синтаксис, основные функции, конструкции языка SQL и узнаете, как работать с SQL базами данных." 
		keywords="markdown">	
	<h1 class="text-4xl lg:text-5xl text-left block  border-b-2 py-14 p-10 pl-0 pr-[200px] border-solid border-black">SQL Базовый уровень</h1>
	<h2 class="py-10 text-xl font-light">
		SQL — декларативный язык программирования, применяемый для создания, модификации и управления данными в реляционной базе данных, управляемой соответствующей системой управления базами данных. В этом курсе вы изучите синтаксис, основные функции, конструкции языка SQL и узнаете, как работать с SQL базами данных.
	</h2>
	<div class="pt-10 pb-10 text-2xl border-black border-t-2  lg:flex lg:flex-wrap">
		<div class="lg:grow">
			83 урока
		</div>
		<div class="lg:flex-1">
			255 тестов
		</div>
		<div class="lg:grow lg:text-right">
			109 интерактивных задач
		</div>
	</div>
	<div class="pt-10 pb-10 border-black border-t-2 text-center grid grid-cols-1 lg:grid-cols-2 gap-4">
		<a href="#reviews" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white px-24 py-2 mr-2  no-underline">Отзывы</a>
		<a href="#who-is-the-course-for" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white px-24 py-2 mr-2 no-underline">Для кого этот курс</a>
		<a href="#requirements" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white px-24 py-2 mr-2  no-underline">Начальные требования</a>
		<a href="#what-are-you-getting" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white px-24 py-2 mr-2 no-underline">Что вы получаете</a>
		<a href="#modules" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white px-24 py-2 mr-2  no-underline">Модули курса</a>
		<a href="#curriculum" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white px-24 py-2 mr-2  no-underline">Программа курса</a>
	</div>
	<div class="pt-10 pb-10 border-black border-t-2">
		<p><strong>SQL</strong> &mdash; декларативный язык программирования, применяемый для создания, модификации и управления данными в реляционной базе данных, управляемой соответствующей системой управления базами данных.</p>

		<p>Базы данных используются практически во всех аспектах современных технологий, включая веб-разработку, аналитику данных, бизнес-анализ, финансы, здравоохранение и многое другое. Поэтому важно для начинающего IT специалиста понимать и уметь использовать SQL, потому что:</p>

		<ol>
			<li>
			<p><strong>SQL является основой для работы с&nbsp;базами данных.</strong><br />
			SQL используется для создания, изменения и управления данными в базах данных. Это основной язык, который используется для работы с реляционными базами данных, и поэтому важно понимать его основы, чтобы работать с базами данных эффективно.</p>
			</li>
			<li>
			<p><strong>SQL является необходимым навыком для работы в IT индустрии.</strong><br />
			Многие вакансии в IT индустрии требуют знания SQL, потому что данные являются неотъемлемой частью работы любого IT специалиста. Владение SQL может открыть для начинающего специалиста больше возможностей для работы и повышения своей квалификации.</p>
			</li>
			<li>
			<p><strong>SQL позволяет обрабатывать большие объемы данных. </strong><br />
			В мире современных технологий количество данных, которые необходимо обработать, постоянно растет. SQL позволяет быстро и эффективно обрабатывать большие объемы данных, что делает его основным языком для работы с данными в любой IT компании.</p>
			</li>
		</ol>

		<p>Этот курс идеально подходит для новичков, которые хотят изучить SQL, а также для тех, кто уже немного знаком с SQL, но хочет восполнить пробелы и закрепить свои знания практикой.&nbsp;</p>
	</div>
	<div class="pt-10 pb-10 border-black border-t-2 text-center">
		<a target="_blank" href="https://stepik.org/a/133728" class="bg-white text-black  text-center border-2 border-black rounded hover:bg-black hover:text-white px-8 lg:px-24 py-4 mr-2  no-underline">Записаться на курс</a>
	</div>
	<a name="reviews"></a>
	<h3 class="text-4xl lg:text-5xl text-left block  border-b-0 border-t-2 py-14 p-10 pl-0 pr-0 border-solid border-black">Отзывы</h3>
	<div class="pt-10 pb-10 border-black border-t-2 grid grid-cols-1 gap-8">
		<div class="border-2 border-black rounded">
			<div class="flex flex-row border-b-2 p-4 mb-4 border-black font-bold"><div class="basis-1/2"><a target="_blank" href="https://stepik.org/course/133728/reviews?reply=272935" class="no-underline">Ольга Фролова</a></div><div class="basis-1/2 text-right">★★★★★</div></div>
			<div class="p-4 pt-0">
				<p class="mb-0">Сергей Романенко, спасибо за курс! Базово, не сложно, с огромным количеством задач. Неделю назад я даже представления не имела, что такое sql, а теперь есть понимание. есть желание двигаться дальше.</p>
			</div>
		</div>
		<div class="border-2 border-black rounded">
			<div class="flex flex-row border-b-2 p-4 mb-4 border-black font-bold"><div class="basis-1/2"><a target="_blank" href="https://stepik.org/course/133728/reviews?reply=269331" class="no-underline">Андрей Валиев</a></div><div class="basis-1/2 text-right">★★★★★</div></div>
			<div class="p-4 pt-0">
				<p class="mb-0">С базами данных был уже знаком, в основном изучал сам, кое-где применял. Цель была повторить общие моменты и узнать кое-что новое. <br><br>  Курс развивается и дополняется новыми задачами, вопросы которые оставляли студенты в чатах, были объяснены самим автором и другими студентами. Есть много полезной информации, а самое главное достаточно практики для того, чтобы разобраться.  <br><br> Смело рекомендую этот курс и спасибо большое, автору Сергею Романенко за оказанную помощь по мере прохождения курса.</p>
			</div>
		</div>
		<div class="border-2 border-black rounded">
			<div class="flex flex-row border-b-2 p-4 mb-4 border-black font-bold"><div class="basis-1/2"><a target="_blank" href="https://stepik.org/course/133728/reviews?reply=301219" class="no-underline">Алекс Бык</a></div><div class="basis-1/2 text-right">★★★★★</div></div>
			<div class="p-4 pt-0">
				<p class="mb-0">Курс представляет собой отличную возможность изучить или обновить знание SQL, который важен для работы с базами данных. <br><br> Структура курса, включает разнообразные аспекты SQL, начиная с базовых основ и заканчивая более сложными темами. В этом курсе вся фундаментальная база SQL. <br><br>  Теория сопровождается множественными примерами, а так же графическими иллюстрациями работы SQL запросов. Теорию и примеры можно использовать как справочник и возвращаться снова к ней после прохождения курса и для подготовки к собеседованиям. <br><br> Курс смело можно рекомендовать разработчикам, тестировщикам, маркетологам, аналитикам, администраторам и всем, кто работает с SQL базами данных! <br><br> P.S. Отличная подборка фильмов в учебной БД :)</p>
			</div>
		</div>
		<div class="border-2 border-black rounded">
			<div class="flex flex-row border-b-2 p-4 mb-4 border-black font-bold"><div class="basis-1/2"><a target="_blank" href="https://stepik.org/course/133728/reviews?reply=244390" class="no-underline">Максим Андреевеч</a></div><div class="basis-1/2 text-right">★★★★★</div></div>
			<div class="p-4 pt-0">
				<p class="mb-0">Хороший курс для тех, кто хочет изучить SQL. <br> Теория доступно объясняется с примерами, много практики и задач. <br> Курс для новичков хороший. <br><br> Однозначно рекомендую.</p>
			</div>
		</div>
		<div class="border-2 border-black rounded">
			<div class="flex flex-row border-b-2 p-4 mb-4 border-black font-bold"><div class="basis-1/2"><a target="_blank" href="https://stepik.org/course/133728/reviews?reply=269328" class="no-underline">Daria Budylina</a></div><div class="basis-1/2 text-right">★★★★★</div></div>
			<div class="p-4 pt-0">
				<p class="mb-0">Суперский курс, нетривиальные задачи. <br><br> Курс подойдет для тех, кто хочешь расширить знания по SQL. Рекомендуется проходить после базового курса. Да, многое повторится, но это поможет вам закрепить полученные знания. Очень много интересных практических заданий. Отдельно хочу выделить кураторов курса, которые просто мгновенно отвечают на вопросы.</p>
			</div>
		</div>
	</div>
	
	<a name="who-is-the-course-for"></a>
	<h3 class="text-4xl lg:text-5xl text-left block  border-b-0 border-t-2 py-14 p-10 pl-0 pr-0 border-solid border-black">Для кого этот курс</h3>
	<div class="pt-10 pb-10 border-black border-t-2">
		<p class="mb-0">Курс будет полезен: IT-специалистам, тестировщикам, маркетологам, аналитикам данных, администраторам и всем тем, кто работает SQL базами данных.</p>
	</div>

	<a name="requirements"></a>
	<h3 class="text-4xl lg:text-5xl text-left block  border-b-0 border-t-2 py-14 p-10 pl-0 pr-0 border-solid border-black">Начальные требования</h3>
	<div class="pt-10 pb-10 border-black border-t-2">
		<p class="mb-0">
			Данный курс состоит из теоретической, тестовой и практической частей по SQL. Он разработан для того, чтобы предоставить вам полное понимание SQL и его основных концепций. Однако, чтобы успешно пройти данный курс, важно иметь базовые знания по информатике и математике. Если у вас возникнут трудности с некоторыми понятиями или концепциями, связанными с информатикой или математикой, вам необходимо провести некоторое время на их изучение для устранения фундаментальных вопросов.
		</p>
	</div>

	<a name="what-are-you-getting"></a>
	<h3 class="text-4xl lg:text-5xl text-left block  border-b-0 border-t-2 py-14 p-10 pl-0 pr-0 border-solid border-black">Что вы получаете</h3>
	<div class="pt-10 pb-10 border-black border-t-2">
		<ul>
			<li class="flex items-top mb-4">
				<div>
					<svg xmlns="http://www.w3.org/2000/svg" class="mr-2" width="26" height="26" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
						<path d="M9 11l3 3l8 -8" />
						<path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" />
					</svg>
				</div>
				<div>
					Навыки и знания, востребованные работодателем.
				</div>
			</li>
			<li class="flex items-top mb-4">
				<div>
					<svg xmlns="http://www.w3.org/2000/svg" class="mr-2" width="26" height="26" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
						<path d="M9 11l3 3l8 -8" />
						<path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" />
					</svg>
				</div>
				<div>
					Возможность отработать теорию на практике.
				</div>
			</li>
			<li class="flex items-top mb-4">
				<div>
					<svg xmlns="http://www.w3.org/2000/svg" class="mr-2" width="26" height="26" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
						<path d="M9 11l3 3l8 -8" />
						<path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" />
					</svg>
				</div>
				<div>
					Понимание основных концепций и синтаксиса языка SQL.
				</div>
			</li>
			<li class="flex items-top mb-4">
				<div>
					<svg xmlns="http://www.w3.org/2000/svg" class="mr-2" width="26" height="26" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
						<path d="M9 11l3 3l8 -8" />
						<path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" />
					</svg>
				</div>
				<div>
					Возможность подготовки к собеседованиям.
				</div>
			</li>
			<li class="flex items-top">
				<div>
					<svg xmlns="http://www.w3.org/2000/svg" class="mr-2" width="26" height="26" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
						<path d="M9 11l3 3l8 -8" />
						<path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" />
					</svg>
				</div>
				<div>
					Возможность получения сертификата о прохождении курса, который может быть использован в резюме или портфолио, подтверждая ваши навыки и знания в области SQL.
				</div>
			</li>
		</ul>
	</div>

	<a name="modules"></a>
	<h3 class="text-4xl lg:text-5xl text-left block  border-b-0 border-t-2 py-14 p-10 pl-0 pr-0 border-solid border-black">Модули курса</h3>
	<div class="pt-10 pb-10 border-black border-t-2">
		
		<ol>
			<li>Введение</li>
			<li>Основы</li>
			<li>Агрегатные функции</li>
			<li>Функции для работы со строками</li>
			<li>Функции для работы с числами</li>
			<li>Функции для работы с датами и временем</li>
			<li>Выражения&nbsp;</li>
			<li>Объединение таблиц</li>
			<li>Операции с таблицами</li>
			<li>Заключение<br />
			&nbsp;</li>
		</ol>

		<p>Каждый модуль в курсе состоит из нескольких&nbsp;уроков, которые представляют собой теорию и задания&nbsp;для закрепления&nbsp;материала&nbsp;теоретической части.</p>

		<p>Все задачи можно решать столько раз, сколько вы пожелаете. За ошибки баллы не снимаются, поэтому не бойтесь пробовать и ошибаться!</p>

		<p>В конце каждого модуля вас ожидают практические задания по созданию&nbsp;<strong>SQL</strong>&nbsp;запросов в консоли с&nbsp;<strong>SQL БД (MySQL 8.0.21)</strong>.&nbsp;</p>

		<p>В данном курсе используется учебная&nbsp;<strong>SQL БД &quot;Фильмы&quot;</strong>, которая состоит из<strong>&nbsp;</strong>таблиц: <strong>movies</strong>, <strong>actors</strong>, <strong>reviews,&nbsp;top_rated_movies, genres, directors</strong>.</p>

		<p>Сложность таблиц и заданий возрастает последовательно по мере&nbsp;прохождения курса.</p>

	</div>

	<a name="curriculum"></a>
	<h3 class="text-4xl lg:text-5xl text-left block border-b-0 border-t-2 py-14 p-10 pl-0 pr-0 border-solid border-black">Программа курса</h3>
	
	<h4 class="text-3xl mb-4">Основы</h4>
	<div class="pt-10 pb-10 border-black border-t-2 text-center grid grid-cols-1 lg:grid-cols-2 gap-4">
		<a href="/courses/sql-basic/basic/introduction/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white px-4 py-2 mr-2  no-underline">Введение в SQL</a>
		<a href="/courses/sql-basic/basic/style-guide/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white  py-2 mr-2  no-underline">Руководство по стилю SQL</a>
		<a href="/courses/sql-basic/basic/datatypes/" class="bg-white text-black border-2 border-black rounded  hover:bg-black hover:text-white py-2 mr-2  no-underline">Типы данных</a>
		<a href="/courses/sql-basic/basic/selecting-data/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white  py-2 mr-2  no-underline">Выборка данных</a>
		<a href="/courses/sql-basic/basic/sorting-data/" class="bg-white text-black border-2 border-black rounded  hover:bg-black hover:text-white py-2 mr-2  no-underline"С>Сортировка данных</a>
		<a href="/courses/sql-basic/basic/filtering-data/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white  py-2 mr-2  no-underline">Фильтрация данных</a>
		<a href="/courses/sql-basic/basic/comments/" class="bg-white text-black border-2 border-black rounded  hover:bg-black hover:text-white py-2 mr-2  no-underline"С>Комментарии</a>
		<a href="/courses/sql-basic/basic/variables/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white  py-2 mr-2  no-underline">Переменные</a>
		<a href="/courses/sql-basic/basic/alias/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white  py-2 mr-2  no-underline">Псевдонимы</a>
		<a href="/courses/sql-basic/basic/group/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white  py-2 mr-2  no-underline">Группировка</a>
		<a href="/courses/sql-basic/basic/subqueries/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white  py-2 mr-2  no-underline">Подзапросы</a>
		<a href="/courses/sql-basic/basic/union/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white  py-2 mr-2  no-underline">Объединение запросов</a>
		<a href="/courses/sql-basic/basic/views/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white  py-2 mr-2  no-underline">Представления</a>
	</div>

	<h4 class="text-3xl mt-4 mb-4">Агрегатные функции</h4>
	<div class="pt-10 pb-10 border-black border-t-2 text-center grid grid-cols-1 lg:grid-cols-2 gap-4">
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2  no-underline cursor-not-allowed">MIN</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2  no-underline cursor-not-allowed">MAX</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2  no-underline cursor-not-allowed">COUNT</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2  no-underline cursor-not-allowed">AVG</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2  no-underline cursor-not-allowed">SUM</a>
	</div>

	<h4 class="text-3xl mt-4 mb-4">Функции для работы со строками</h4>
	<div class="pt-10 pb-10 border-black border-t-2 text-center grid grid-cols-1 lg:grid-cols-2 gap-4">
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2  no-underline cursor-not-allowed">CONCAT</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2  no-underline cursor-not-allowed">CONCAT_WS</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2  no-underline cursor-not-allowed">LENGTH</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2  no-underline cursor-not-allowed">LTRIM</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2  no-underline cursor-not-allowed">RTRIM</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2  no-underline cursor-not-allowed">TRIM</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2  no-underline cursor-not-allowed">LOCATE</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2  no-underline cursor-not-allowed">LEFT</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2  no-underline cursor-not-allowed">RIGHT</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2  no-underline cursor-not-allowed">SUBSTRING</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2  no-underline cursor-not-allowed">REPLACE</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2  no-underline cursor-not-allowed">LOWER</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2  no-underline cursor-not-allowed">UPPER</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2  no-underline cursor-not-allowed">REPEAT</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2  no-underline cursor-not-allowed">ELT</a>
	</div>

	<h4 class="text-3xl mt-4 mb-4">Функции для работы с числами</h4>
	<div class="pt-10 pb-10 border-black border-t-2 text-center grid grid-cols-1 lg:grid-cols-2 gap-4">
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2 no-underline cursor-not-allowed">ROUND</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2 no-underline cursor-not-allowed">ABS</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2 no-underline cursor-not-allowed">CEILING</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2 no-underline cursor-not-allowed">FLOOR</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2 no-underline cursor-not-allowed">RAND</a>
	</div>

	<h4 class="text-3xl mt-4 mb-4">Функции для работы с датой и временем</h4>
	<div class="pt-10 pb-10 border-black border-t-2 text-center grid grid-cols-1 lg:grid-cols-2 gap-4">
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2 no-underline cursor-not-allowed">CURRENT_TIMESTAMP</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2 no-underline cursor-not-allowed">CURRENT_TIME</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2 no-underline cursor-not-allowed">CURRENT_DATE</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2 no-underline cursor-not-allowed">DATE</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2 no-underline cursor-not-allowed">DAY</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2 no-underline cursor-not-allowed">MONTH</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2 no-underline cursor-not-allowed">YEAR</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2 no-underline cursor-not-allowed">HOUR</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2 no-underline cursor-not-allowed">MINUTE</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2 no-underline cursor-not-allowed">SECOND</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2 no-underline cursor-not-allowed">DATEDIFF</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2 no-underline cursor-not-allowed">DAYNAME</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2 no-underline cursor-not-allowed">MONTHNAME</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2 no-underline cursor-not-allowed">MAKEDATE</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2 no-underline cursor-not-allowed">MAKETIME</a>
	</div>

	<h4 class="text-3xl mt-4 mb-4">Выражения</h4>
	<div class="pt-10 pb-10 border-black border-t-2 text-center grid grid-cols-1 lg:grid-cols-2 gap-4">
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2 no-underline cursor-not-allowed">CASE</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2 no-underline cursor-not-allowed">COALESCE</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2 no-underline cursor-not-allowed">NULLIF</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2 no-underline cursor-not-allowed">IF</a>
	</div>
	
	<h4 class="text-3xl mt-4 mb-4">Объединение таблиц</h4>
	<div class="pt-10 pb-10 border-black border-t-2 text-center grid grid-cols-1 lg:grid-cols-2 gap-4">
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2 no-underline cursor-not-allowed">INNER JOIN</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2 no-underline cursor-not-allowed">LEFT JOIN</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2 no-underline cursor-not-allowed">RIGHT JOIN</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2 no-underline cursor-not-allowed">FULL JOIN</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2 no-underline cursor-not-allowed">CROSS JOIN</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2 no-underline cursor-not-allowed">SELF JOIN</a>
	</div>

	<h4 class="text-3xl mt-4 mb-4">Операции с таблицами</h4>
	<div class="pt-10 pb-10 border-black border-t-2 text-center grid grid-cols-1 lg:grid-cols-2 gap-4">
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2 no-underline cursor-not-allowed">Создание таблицы</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2 no-underline cursor-not-allowed">Изменение структуры таблицы</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2 no-underline cursor-not-allowed">Удаление таблицы</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2 no-underline cursor-not-allowed">Добавление новых строк в таблицу</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2 no-underline cursor-not-allowed">Изменение данных в таблице</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2 no-underline cursor-not-allowed">Удаление строк из таблицы</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2 no-underline cursor-not-allowed">Удаление всех строк в таблице</a>
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 px-4 py-2 mr-2 no-underline cursor-not-allowed">Просмотр списка таблиц</a>
	</div>

	<div class="pt-10 pb-10 border-black border-t-2 text-center">
		<a target="_blank" href="https://stepik.org/a/133728" class="bg-white text-black  text-center border-2 border-black rounded hover:bg-black hover:text-white px-8 lg:px-24 py-4 mr-2  no-underline">Записаться на курс</a>
	</div>
</Layout>