---
import Layout from '../../../../layouts/Layout.astro';
---

<Layout title="Markdown" 
	    description="В этом модуле вы узнаете, что такое Markdown, зачем его использовать, какие редакторы поддерживают Markdown, а также разберетесь в его принципах работы." 
		keywords="markdown">	
	<h1 class="text-4xl lg:text-5xl text-left block  border-b-2 py-14 border-solid border-black">Введение</h1>
	<div class="py-4">
		<a href="/courses/">Курсы</a> <span class="px-2">/</span> <a href="/courses/markdown/">Markdown</a> <span class="px-2">/</span> <a href="/courses/markdown/getting-started/">Введение</a>
	</div>
	<div class="pt-10 pb-10 border-black border-t-2">
	
		<p>В этом модуле вы узнаете, что такое Markdown, зачем его использовать, какие редакторы поддерживают Markdown, а также разберетесь в его принципах работы.</p>
		<br>
		<h4 class="text-3xl mt-4 mb-4">Уроки</h4>
		<div class="pt-10 pb-10 border-black border-t-2 text-center grid grid-cols-1 lg:grid-cols-2 gap-4">
			<a href="/courses/markdown/getting-started/what-is-markdown/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white px-4 py-2 mr-2  no-underline">Что такое Markdown?</a>
			<a href="/courses/markdown/getting-started/why-use-markdown/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white px-4 py-2 mr-2  no-underline">Зачем использовать Markdown?</a>
			<a href="/courses/markdown/getting-started/markdown-editors/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white px-4 py-2 mr-2 no-underline">Редаткоры Markdown</a>
			<a href="/courses/markdown/getting-started/how-does-markdown-works/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white px-4 py-2 mr-2 no-underline">Как работает Markdown?</a>
		</div>

	</div>


	<div class="pt-10 pb-10 border-black border-t-2 text-center">
		<a target="_blank" href="https://stepik.org/course/187888/promo" class="bg-white text-black  text-center border-2 border-black rounded hover:bg-black hover:text-white px-8 lg:px-24 py-4 mr-2  no-underline">Записаться на курс</a>
	</div>
</Layout>