---
import Layout from '../../../../layouts/Layout.astro';
---

<Layout title="Markdown" 
	    description="В этом уроке вы узнаете какие бывает редакторы для Markdown" 
		keywords="markdown">	
	<h1 class="text-4xl lg:text-5xl text-left block  border-b-2 py-14 p-10 pl-0 border-solid border-black">Редакторы для Markdown</h1>
	<div class="py-4">
		<a href="/courses/">Курсы</a> <span class="px-2">/</span> <a href="/courses/markdown/">Markdown</a> <span class="px-2">/</span> <a href="/courses/markdown/getting-started/">Введение</a>
	</div>
	<div class="pt-10 pb-10 border-black border-t-2">

		<p><strong>Markdown</strong> &mdash; это легкий и простой в использовании язык разметки, который позволяет создавать структурированный текст с минимальными усилиями. Он стал популярным среди разработчиков, блоггеров, писателей и всех, кто ценит простоту и читаемость текста.</p>

		<p>Для работы с <strong>Markdown</strong> существует множество редакторов, которые облегчают процесс создания и редактирования текста на этом языке. Рассмотрим некоторые из наиболее популярных редакторов <strong>Markdown</strong>.</p>

		<h3><a href="https://code.visualstudio.com" rel="noopener noreferrer nofollow"><strong>Visual Studio Code</strong></a></h3>

		<p><strong>Visual Studio Code</strong> (<strong>VSCode</strong>) &mdash; популярная интегрированная среда разработки, которая также предоставляет расширение для работы с файлами <strong>Markdown</strong>. <strong>VSCode</strong> обеспечивает мощные функции, такие как подсветка синтаксиса, автоматическое завершение кода и удобное управление файлами проекта. Благодаря <a href="https://marketplace.visualstudio.com" rel="noopener noreferrer nofollow">обширной базе расширений</a>, вы можете настроить <strong>VSCode</strong> под свои нужды, добавив дополнительные возможности.</p>

		<center><img alt="" height="419" name="Screenshot 2023-12-14 at 20.15.14.png" src="https://ik.imagekit.io/awilum/awilum-ru/Screenshot%202023-12-14%20at%2020.15.14-2.png?updatedAt=1708058257609" width="700" /></center>

		<p>&nbsp;</p>

		<h3><a href="https://dillinger.io" rel="noopener noreferrer nofollow"><strong>Dillinger</strong></a></h3>

		<p><strong>Dillinger</strong> &mdash; это веб-приложение для редактирования текста в формате <strong>Markdown</strong>. Он позволяет работать с документами в облаке, сохранять их в различных облачных сервисах и легко обмениваться файлами. Dillinger также предоставляет функции предварительного просмотра и экспорта в различные форматы.</p>

		<center><img alt="" height="419" name="Screenshot 2023-12-14 at 20.18.01.png" src="https://ik.imagekit.io/awilum/awilum-ru/Screenshot%202023-12-14%20at%2020.18.01.png?updatedAt=1708058257240" width="700" /></center>

		<p>&nbsp;</p>

		<h3><a href="https://typora.io" rel="noopener noreferrer nofollow"><strong>Typora</strong></a></h3>

		<p><strong>Typora</strong> &mdash; это инновационный редактор <strong>Markdown</strong> с уникальным подходом к отображению и редактированию текста. Одной из его особенностей является режим реального времени, который позволяет видеть, как будет выглядеть текст после форматирования, даже на этапе его написания. Также <strong>Typora</strong> поддерживает экспорт в различные форматы, включая <strong>PDF</strong>, <strong>HTML</strong> и изображения.</p>

		<center><img alt="" height="468" name="Screenshot 2023-12-14 at 20.31.02.png" src="https://ik.imagekit.io/awilum/awilum-ru/Screenshot%202023-12-14%20at%2020.31.02.png?updatedAt=1708058257425" width="700" /></center>

		<p>&nbsp;</p>

		<h3><a href="https://hackmd.io/" rel="noopener noreferrer nofollow">HackMD</a></h3>

		<p><strong>HackMD</strong> &mdash; это веб-платформа и редактор, предназначенные для совместной работы и создания документации с использованием языка разметки <strong>Markdown</strong>.&nbsp;<strong>HackMD</strong> позволяет пользователям работать в реальном времени над документами, обеспечивая удобную совместную работу. Несколько участников могут одновременно редактировать текст, видеть изменения и вносить свои правки.&nbsp;<strong>HackMD</strong> позволяет сохранять и синхронизировать ваши документы с различными облачными хранилищами.&nbsp;<strong>HackMD</strong> позволяет пользователям добавлять комментарии к документам, обсуждать изменения и предоставлять обратную связь. Это особенно полезно в командной работе и при обсуждении содержимого документов.</p>

		<center><img alt="" height="419" name="Screenshot 2023-12-14 at 20.34.08.png" src="https://ik.imagekit.io/awilum/awilum-ru/Screenshot%202023-12-14%20at%2020.34.08.png?updatedAt=1708058257684" width="700" /></center>

		<p>&nbsp;</p>

		<h3><a href="https://obsidian.md" rel="noopener noreferrer nofollow">Obsidian</a></h3>

		<p><strong>Obsidian</strong> &mdash; это личная база знаний и приложение для создания заметок, которое работает с файлами <strong>Markdown</strong>. Это позволяет пользователям создавать внутренние ссылки для заметок, а затем визуализировать связи в виде графика.</p>

		<center><img alt="" height="428" name="Screenshot 2023-12-17 at 09.24.28.png" src="https://ik.imagekit.io/awilum/awilum-ru/Screenshot%202023-12-17%20at%2009.24.28.png?updatedAt=1708058257325" width="700" /></center>

		<p>&nbsp;</p>

		<h3><a href="https://joplinapp.org" rel="noopener noreferrer nofollow">Joplin</a></h3>

		<p><strong>Joplin</strong> &mdash; это бесплатное настольное и мобильное приложение для создания заметок и списков дел с открытым исходным кодом, написанное для <strong>Unix-подобных</strong> операционных систем и операционных систем <strong>Microsoft</strong> <strong>Windows</strong>, а также терминалов <strong>iOS</strong>, <strong>Android</strong> и <strong>Linux/Windows</strong>, написанное на <strong>JavaScript</strong>.</p>

		<center><img alt="" height="424" name="Screenshot 2023-12-17 at 09.28.32.png" src="https://ik.imagekit.io/awilum/awilum-ru/Screenshot%202023-12-17%20at%2009.28.32.png?updatedAt=1708058257478" width="700" /></center>

		<p>&nbsp;</p>

		<h3><a href="https://stackedit.io" rel="noopener noreferrer nofollow">Stackedit</a></h3>

		<p><strong>Stackedit</strong> &mdash; полнофункциональный редактор <strong>Markdown</strong> с открытым исходным кодом, основанный на библиотеке <strong>PageDown</strong>, используемой <strong>Stack Overflow</strong> и другими сайтами <strong>Stack Exchange</strong>.</p>

		<center><img alt="" height="422" name="Screenshot 2023-12-17 at 09.32.54.png" src="https://ik.imagekit.io/awilum/awilum-ru/Screenshot%202023-12-17%20at%2009.32.54.png?updatedAt=1708058257588" width="700" /></center>

	</div>

	<div class="pt-10 pb-10 border-black border-t-2 text-center grid grid-cols-1 lg:grid-cols-2 gap-4">
		<a href="/courses/markdown/getting-started/why-use-markdown/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white px-14 py-2 mr-2  no-underline">Зачем использовать Markdown?</a>
		<a href="/courses/markdown/getting-started/how-does-markdown-works/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white px-14 py-2 mr-2  no-underline">Как работает Markdown?</a>
	</div>

	<div class="pt-10 pb-10 border-black border-t-2 text-center">
		<a target="_blank" href="https://stepik.org/course/187888/promo" class="bg-white text-black  text-center border-2 border-black rounded hover:bg-black hover:text-white px-8 lg:px-24 py-4 mr-2  no-underline">Записаться на курс</a>
	</div>
</Layout>