---
import Layout from '../../../../layouts/Layout.astro';
---

<Layout title="Markdown" 
	    description="В этом уроке вы узнаете зачем использовать Markdown" 
		keywords="markdown">	
	<h1 class="text-4xl lg:text-5xl text-left block  border-b-2 py-14 p-10 pl-0 border-solid border-black">Зачем использовать Markdown?</h1>
	<div class="py-4">
		<a href="/courses/">Курсы</a> <span class="px-2">/</span> <a href="/courses/markdown/">Markdown</a> <span class="px-2">/</span> <a href="/courses/markdown/getting-started/">Введение</a>
	</div>
	<div class="pt-10 pb-10 border-black border-t-2">

<p><strong>Markdown</strong> — это простой и удобный язык разметки, который стал популярным среди пользователей веб-разработчиков, писателей, блоггеров и тех, кто занимается созданием текстового контента.</p>

<p>Вот несколько причин, по которым использование <strong>Markdown</strong> может быть выгодным:</p>

<ol>
	<li>
	<p><strong>Простота и Читаемость.<br>
	Markdown</strong> имеет минимальный синтаксис, который легко запомнить и использовать. Он создан с упором на простоту и читаемость. Это позволяет быстро создавать структурированный текст без необходимости использования сложных инструментов.</p>
	</li>
	<li>
	<p><strong>Переносимость.</strong><br>
	Файлы в формате <strong>Markdown</strong> являются простыми текстовыми файлами, что делает их легкими для переноса между различными платформами и редакторами. Вы можете создавать и редактировать <strong>Markdown</strong> на любом текстовом редакторе.</p>
	</li>
	<li>
	<p><strong>Быстрота и Эффективность.</strong><br>
	Поскольку <strong>Markdown</strong> не требует большого объема кода, создание и редактирование текста в этом формате обычно происходит быстрее, чем в <strong>WYSIWYG</strong>-редакторах. Это особенно удобно, когда нужно <u>быстро написать простой текст</u>.</p>
	</li>
	<li>
	<p><strong>Поддержка Веб-разработки.<br>
	Markdown</strong> широко используется для написания контента для веб-сайтов, блогов и форумов. Многие платформы, такие как <strong>GitHub</strong>, <strong>Stack Overflow</strong>, <strong>Reddit</strong>, поддерживают синтаксис <strong>Markdown</strong> для форматирования текста в комментариях и постах.</p>
	</li>
	<li>
	<p><strong>Преобразование в HTML.<br>
	Markdown</strong> легко преобразуется в <strong>HTML</strong>, что делает его удобным для использования в веб-разработке. Многие системы управления контентом автоматически конвертируют <strong>Markdown</strong> в <strong>HTML</strong>, что упрощает публикацию контента в интернете.</p>
	</li>
	<li>
	<p><strong>Легкость работы с кодом.<br>
	Markdown</strong> предоставляет удобные средства для вставки кода, создания списков задач, таблиц и других элементов, полезных для программистов и технических авторов.</p>
	</li>
	<li>
	<p><strong>Читаемость в исходном виде.</strong><br>
	Файлы <strong>Markdown</strong> легко читаются в исходном виде, что делает их удобными для сотрудничества. Даже без просмотра в отформатированном виде, текст в файлах <strong>Markdown</strong> остается читаемым.</p>
	</li>
</ol>

	</div>

	<div class="pt-10 pb-10 border-black border-t-2 text-center grid grid-cols-1 lg:grid-cols-2 gap-4">
		<a href="/courses/markdown/getting-started/what-is-markdown/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white px-14 py-2 mr-2  no-underline">Что такое Markdown?</a>
		<a href="/courses/markdown/getting-started/markdown-editors/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white px-14 py-2 mr-2  no-underline">Редакторы для Markdown</a>
	</div>

	<div class="pt-10 pb-10 border-black border-t-2 text-center">
		<a target="_blank" href="https://stepik.org/course/187888/promo" class="bg-white text-black  text-center border-2 border-black rounded hover:bg-black hover:text-white px-8 lg:px-24 py-4 mr-2  no-underline">Записаться на курс</a>
	</div>
</Layout>