---
import { getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import { categories } from '../../../consts';

export async function getStaticPaths() {
  const allArticles = await getCollection("articles");
  const uniqueTags = [...new Set(allArticles.map((article) => article.data.categories).flat())];

  return uniqueTags.map((category) => {
    const filteredPosts = allArticles.filter((article) =>
      article.data.categories.includes(category)
    );
    return {
      params: { category },
      props: { articles: filteredPosts },
    };
  });
}

const { category } = Astro.params;
let { articles } = Astro.props;

articles.sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout title={category ?? ""}>
	<h3 class="py-14 text-2xl lg:text-7xl text-left block uppercase font-bold border-b-2 border-solid border-black">Статьи <br>в категории "{categories[category ?? ""].title}"</h3>
	<div class="text-left text-xl font-bold border-b-2 border-solid border-black py-10">{
		<span><a href=`/articles/` class="bg-black text-white px-3 py-2 mr-1 text-lg">Все статьи</a></span>
	} </div>
	<div>
		{
			articles.map((article, index) => (
				<div class=`flex ${index < articles.length - 1 ? "border-b border-dashed border-slate-500" : ""} py-4 items-center`>
					<div class="w-full pb-0 pt-0">
						<a href=`/articles/${article.slug}/` class="text-xl hover:underline">{article.data.title}</a>
					</div>
				</div>
			))
		}
	</div>
</Layout>