---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">	
	<h3 class="text-7xl text-left block py-14 uppercase font-bold border-b border-solid border-black">Об авторе</h3>
	<div class="grid lg:grid-cols-2 grid-cols-1 gap-10 pt-10">
		<div class="border border-black rounded p-10">
			<div>
				<p class="mb-6">В течение 18 лет я посвятил себя разработке, поддержке и тестированию проектов различной сложности. За это время я приобрел обширный опыт работы с различными языками программирования и технологиями.</p>
                <p class="mb-6">Мой опыт включает работу с языками программирования, такими как: Basic, Pascal, C/C++, ASM86, Object Pascal, Delphi, PHP, JavaScript, SQL, Python, Go, Dart, Lua и другие. Кроме того, я активно участвую в разработке и поддержке проектов с открытым исходным кодом.</p>
                <p>Я готов поделиться своими знаниями и опытом с вами, помогая вам улучшить ваши навыки программирования и достичь своих целей. Рад быть вашим гидом в мире разработки программного обеспечения!</p>
			</div>
		</div>
	  </div>
</Layout>