---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Об авторе">	
	<h3 class="text-4xl lg:text-7xl text-left block uppercase font-bold border-b-2 py-14 p-10 pl-0 pr-0 border-solid border-black">Об авторе</h3>
	<div class="py-10 text-xl">
		<p>Я частный разработчик, ментор и преподаватель онлайн-курсов. </p>
		<p>В течение 18 лет я посвятил себя разработке, поддержке и тестированию проектов различной сложности. За это время я приобрел обширный опыт работы с различными языками программирования и технологиями.</p>
		<p>Мой опыт включает работу с языками программирования, такими как: Basic, Pascal, C/C++, ASM86, Object Pascal, Delphi, PHP, JavaScript, SQL, Python, Go, Dart, Lua и другие. Кроме того, я активно участвую в разработке и поддержке проектов с открытым исходным кодом.</p>
		<p class="mb-0">Я готов поделиться своими знаниями и опытом с вами, помогая вам улучшить ваши навыки программирования и достичь своих целей. Рад быть вашим гидом в мире разработки программного обеспечения!</p>
	</div>
</Layout>