---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Об авторе">	
	<h3 class="text-4xl lg:text-7xl text-left block uppercase font-bold border-b-2 py-14 p-10 pl-0 pr-0 border-solid border-black">Об авторе</h3>
	<div class="py-10 text-xl">
		<p>Меня зовут, Сергей!</p>
		<p>Я частный разработчик, ментор и преподаватель онлайн-курсов. </p>
		<p>В течение 18 лет я посвятил себя разработке, поддержке и тестированию проектов различной сложности. За это время я приобрел обширный опыт работы с различными языками программирования и технологиями.</p>
		<p class="mb-0">Я готов поделиться своими знаниями и опытом с вами, помогая вам улучшить ваши навыки программирования и достичь своих целей. Рад быть вашим гидом в мире разработки программного обеспечения!</p>
	</div>
	<h3 class="text-7xl text-left block uppercase font-bold border-t-2 py-14 p-10 pl-0 pr-0  border-solid border-black">Рабочий опыт</h3>
	<div class="pt-10 pb-10 border-black border-t-2">
		<ul>
			<li class="pb-10 border-b border-dashed border-slate-500">
				<p class="font-bold">Инструктор / Stepik / Январь 2023 - По настоящее время </p>
				<p>
					Инструктор по онлайн-обучению, я активно делюсь своими обширными знаниями и опытом в области программирования, предоставляя всесторонние курсы по программированию для онлайн-учащихся. Через интерактивные онлайн-платформы я взаимодействую с учениками, содействуя им в понимании и освоении различных концепций программирования. Следя за последними достижениями в этой области, я обеспечиваю актуальность предоставляемых мною курсов, даря учащимся необходимые навыки для успешной карьеры в выбранной ими сфере.
				</p>
				<p class="mb-0">
					<b>Навыки:</b> Обучение
				</p>
			</li>
			<li class="pb-10 pt-10 border-b border-dashed border-slate-500">
				<p class="font-bold">Ментор / Solvery / Декабрь 2022 - По настоящее время </p>
				<p>
					Помощь молодым специалистам в совершенствовании их навыков программирования и направление их к достижению целей в динамичной сфере информационных технологий. Предоставляя рекомендации, поддержку и практические советы, я помогаю им раскрыть свой полный потенциал.				
				</p>
				<p class="mb-0">
					<b>Навыки:</b> Обучение, Менторинг
				</p>
			</li>
			<li class="pb-10 pt-10 border-b border-dashed border-slate-500">
				<p class="font-bold">IT Консультант / Контракт / Январь 2015 - По настоящее время </p>
				<p>
					Разработка веб-приложений полного стека, тестирование и консультации в области информационных технологий.
					Разработка OpenSource. Менторинг и коучинг. Разработка архитектуры программного обеспечения и управление проектами. Стандартизация веб-интерфейсов. Автоматизация процессов разработки фронтенда и бэкенда. Разработка документации проектов. Локализация проектов с использованием Crowdin и Transifex. Локализация и тестирование. Тестирование API с использованием Postman и других инструментов. Юнит-тестирование на PHP и JS. Ручное тестирование. Разработка документации по тестированию. Тестирование производительности. Тестирование UI/UX.
				</p>
				<p class="mb-0">
					<b>Навыки:</b> SQL, Web Development, Front-end, JavaScript, CSS,  HTML, PHP, REST APIs, SEO, Git, GruntJS, LESS, GulpJS, Parcel, Astro, Bun, Node.js, Open Source, QA Engineering, Quality Assurance
				</p>
			</li>
			<li class="pb-10 pt-10 border-b border-dashed border-slate-500">
				<p class="font-bold">Разработчик Open Source / Open Source / Сентябрь 2010 - По настоящее время </p>
				<p>
					Я активно участвую в разработке, поддержке и тестировании проектов с открытым исходным кодом. Я являюсь активным пользователем GitHub; пишу код, а также нахожу и сообщаю о найденных ошибках.
				</p>
				<p class="mb-0"></p>
					<b>Навыки:</b> English, Symfony Framework, MySQL, SQL, Web Development, Front-end, JavaScript, CSS, HTML, PHP, REST APIs, SEO, Git, GruntJS, LESS, GulpJS, Node.js, Open Source, QA Engineering, Quality Assurance
				</p>
			</li>
			<li class="pb-10 pt-10 border-b border-dashed border-slate-500">
				<p class="font-bold">Senior Front End Developer / Onix-Systems / Июнь 2013 - Май 2014</p>
				<p>
					Разработка фронтенда веб-приложений. Разработка внутренних фронтенд-фреймворков. Стандартизация веб-интерфейсов. Модульная разработка. Автоматизация разработки и тестирования фронтенда. Разработка архитектуры фронтенда. Разработка документации проектов.
				</p>
				<p class="mb-0"></p>
					<b>Навыки:</b> English, Web Development, Front-end, JavaScript, CSS, HTML, REST APIs, SEO, Git, GruntJS, LESS, GulpJS, Node.js, Mercurial
				</p>
			</li>
			<li class="pb-10 pt-10 border-b border-dashed border-slate-500">
				<p class="font-bold">Front End Developer / Onix-Systems / Январь 2011 - Июнь 2013</p>
				<p>
					Разработка фронтенда веб-приложений. Разработка внутренних фронтенд-фреймворков. Стандартизация веб-интерфейсов.
				</p>
				<p class="mb-0"></p>
					<b>Навыки:</b> English, JavaScript, CSS, HTML, SEO
				</p>
			</li>
			<li class="pb-10 pt-10 border-b border-dashed border-slate-500">
				<p class="font-bold">Software Engineer / Onix-Systems / Сентябрь 2010 - Январь 2011</p>
				<p>
					Разработка плагинов и тем для WordPress. Разработка на PHP с использованием фреймворков Yii, Symfony, CI.
				</p>
				<p class="mb-0"></p>
					<b>Навыки:</b> English, PostgreSQL, WordPress, Symfony Framework, Yii, MongoDB, MySQL, SQL, PHP
				</p>
			</li>
			<li class="pt-10">
				<p class="font-bold">Software Engineer / Фриланс / Сентябрь 2005 - Сентябрь 2010</p>
				<p>
					Веб-разработка с использованием PHP (WordPress, SMF, phpBB, PunBB, CI). Разработка программного обеспечения с использованием Borland Delphi и Free Pascal. Разработка игр и создание игровых движков. Основатель и ведущий разработчик сообщества PASCALGAMES dot NET.
				</p>
				<p class="mb-0"></p>
					<b>Навыки:</b> C++, Delphi, English, WordPress, MySQL, PHP
				</p>
			</li>
		</ul>
	</div>
</Layout>