---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Онлайн-курсы по IT-профессиям" description="Онлайн-курсы по IT-профессиям для специалистов и начинающих" keywords="онлайн-курсы, IT-профессии, обучение, новички, специалисты, востребованные профессии, интернет-обучение, обновление навыков, продвинутые курсы, IT-специальности, успешная карьера">	
	<h3 class="text-4xl lg:text-7xl text-left block py-14 p-10 pl-0 pr-0 uppercase font-bold border-b-2 border-solid border-black">Онлайн-курсы<br> по IT-профессиям</h3>
	
	<div class="grid grid-cols-1 gap-10 courses mt-10 mb-10">
		<div class="p-10 border-2 border-black">
			<a class="text-2xl font-bold mb-6 block underline" href="https://stepik.org/a/134850">JavaScript Базовый уровень</a>
			<p><strong>В курс входят</strong>:<br> 222 урока, 836 тестов, 231 интерактивная задача</p>
			<p class="">
				Самый полный курс по JavaScript для начинающих программистов! Этот курс идеально подходит для программистов, которые хотят изучить основы языка программирования JavaScript. В ходе курса вы узнаете основные концепции языка, включая переменные, типы данных, условные конструкции, циклы, функции и объекты. Курс также включает в себя большое количество практических заданий, которые помогут закрепить полученные знания.
			</p>
		</div>
		<div class="p-10 border-2 border-black">
			<a class="text-2xl font-bold mb-6 block underline" href="https://stepik.org/a/177315">JavaScript Продвинутый уровень</a>
			<p><strong>В курс входят</strong>:<br> 173 урока, 817 тестов, 155 интерактивных задач</p>
			<p class="">
				Этот курс представляет следующий этап вашего путешествия в мире разработки приложений на JavaScript. Если вы владеете основами и стремитесь глубже освоить продвинутые концепции и методы, то этот курс именно для вас. Обширные практические задания позволят вам закрепить и применить знания на практике. Вы также столкнетесь с разнообразными тестовыми и классическими задачами, которые часто встречаются на собеседованиях в ведущих компаниях, включая Google, Amazon, Apple, Twitter и Microsoft.			
			</p>
		</div>

		<div class="p-10 border-2 border-black">
			<a class="text-2xl font-bold mb-6 block underline" href="https://stepik.org/a/172576">JavaScript Тренажер</a>
			<p><strong>В курс входят</strong>:<br> 173 урока, 817 тестов, 158 интерактивных задач</p>
			<p class="">
				Курс включает в себя разнообразные практические задачи по программированию, которые помогут улучшить ваш уровень программирования на JavaScript. Вы столкнетесь как с классическими задачами, так и с теми, которые встречаются на собеседованиях в таких крупных компаниях, как Google, Amazon, Apple, Twitter и Microsoft. Это позволит вам разносторонне развить навыки работы с переменными, типами данных, условными конструкциями, циклами, функциями, объектами и различными алгоритмами.
			</p>
		</div>
		<div class="p-10 border-2 border-black">
			<a class="text-2xl font-bold mb-6 block underline" href="https://stepik.org/a/133728">SQL Базовый уровень</a>
			<p><strong>В курс входят</strong>:<br> 109 интерактивных задач</p>
			<p class="">
				SQL — декларативный язык программирования, применяемый для создания, модификации и управления данными в реляционной базе данных, управляемой соответствующей системой управления базами данных. В этом курсе вы изучите синтаксис, основные функции, конструкции языка SQL и узнаете, как работать с SQL базами данных.
			</p>
		</div>

		<div class="p-10 border-2 border-black">
			<a class="text-2xl font-bold mb-6 block underline" href="https://stepik.org/a/173184">Python Тренажер</a>
			<p><strong>В курс входят</strong>:<br> 400 интерактивных задач</p>
			<p class="">
				Курс включает в себя разнообразные практические задачи по программированию, которые помогут улучшить ваш уровень программирования на Python. Вы столкнетесь как с классическими задачами, так и с теми, которые встречаются на собеседованиях в таких крупных компаниях, как Google, Amazon, Apple, Twitter и Microsoft. Это позволит вам разносторонне развить навыки работы с переменными, типами данных, условными конструкциями, циклами, функциями и различными алгоритмами.
			</p>
		</div>
		<div class="p-10 border-2 border-black">
			<a class="text-2xl font-bold mb-6 block underline" href="https://stepik.org/a/175966">Go Тренажер</a>
			<p><strong>В курс входят</strong>:<br> 284 интерактивные задачи</p>
			<p class="">
				Курс включает в себя разнообразные практические задачи по программированию, которые помогут улучшить ваш уровень программирования на Go. Вы столкнетесь как с классическими задачами, так и с теми, которые встречаются на собеседованиях в таких крупных компаниях, как Google, Amazon, Apple, Twitter и Microsoft. Это позволит вам разносторонне развить навыки работы с переменными, типами данных, условными конструкциями, циклами, функциями и различными алгоритмами.
			</p>
		</div>

		<div class="p-10 border-2 border-black">
			<a class="text-2xl font-bold mb-6 block underline" href="https://stepik.org/a/174887">PHP Тренажер</a>
			<p><strong>В курс входят</strong>:<br> 304 интерактивные задачи</p>
			<p class="">
				Курс включает в себя разнообразные практические задачи по программированию, которые помогут улучшить ваш уровень программирования на PHP. Вы столкнетесь как с классическими задачами, так и с теми, которые встречаются на собеседованиях в таких крупных компаниях, как Google, Amazon, Apple, Twitter и Microsoft. Это позволит вам разносторонне развить навыки работы с переменными, типами данных, условными конструкциями, циклами, функциями и различными алгоритмами.
			</p>
		</div>
	</div>
</Layout>