---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">	
	<h3 class="text-7xl text-center my-20 uppercase font-bold">Курсы</h3>
	<p class="mb-20 text-xl">
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor, dolorum. Fugiat, enim. Ex laborum amet sed ipsa quas iure at dolores, quaerat laboriosam voluptate natus reprehenderit numquam unde placeat voluptates!
	</p>
	<div class="grid lg:grid-cols-2 grid-cols-1 gap-12">
		<div>
			<a href="" class="text-3xl font-bold mb-6 block underline">JavaScript Базовый уровень</a>
			<p class="mb-6">
				Самый полный курс по JavaScript для начинающих программистов! Курс состоит из 221 урок, 834 теста и 231 интерактивных задач на программирование! Этот курс идеально подходит для программистов, которые хотят изучить основы языка программирования JavaScript. В ходе курса вы узнаете основные концепции языка, включая переменные, типы данных, условные конструкции, циклы, функции и объекты. Курс также включает в себя большое количество практических заданий, которые помогут закрепить полученные знания.
			</p>
		</div>
		<div>
			<a href="" class="text-3xl font-bold mb-6 block underline">JavaScript Продвинутый уровень</a>
			<p class="mb-6">
				Этот курс представляет следующий этап вашего путешествия в мире разработки приложений на JavaScript. Если вы владеете основами и стремитесь глубже освоить продвинутые концепции и методы, то этот курс именно для вас. Обширные практические задания позволят вам закрепить и применить знания на практике. Вы также столкнетесь с разнообразными тестовыми и классическими задачами, которые часто встречаются на собеседованиях в ведущих компаниях, включая Google, Amazon, Apple, Twitter и Microsoft.			</p>
		</div>
		<div>
			<a href="" class="text-3xl font-bold mb-6 block underline">JavaScript Тренажер</a>
			<p class="mb-6">
				Курс включает в себя разнообразные практические задачи по программированию, которые помогут улучшить ваш уровень программирования на JavaScript. Вы столкнетесь как с классическими задачами, так и с теми, которые встречаются на собеседованиях в таких крупных компаниях, как Google, Amazon, Apple, Twitter и Microsoft. Это позволит вам разносторонне развить навыки работы с переменными, типами данных, условными конструкциями, циклами, функциями, объектами и различными алгоритмами.
			</p>
		</div>
		<div>
			<a href="" class="text-3xl font-bold mb-6 block underline">SQL Базовый уровень</a>
			<p class="mb-6">
				SQL — декларативный язык программирования, применяемый для создания, модификации и управления данными в реляционной базе данных, управляемой соответствующей системой управления базами данных. В этом курсе вы изучите синтаксис, основные функции, конструкции языка SQL и узнаете, как работать с SQL базами данных.
			</p>
		</div>
		<div>
			<a href="" class="text-3xl font-bold mb-6 block underline">Python Тренажер</a>
			<p class="mb-6">
				Курс включает в себя разнообразные практические задачи по программированию, которые помогут улучшить ваш уровень программирования на JavaScript. Вы столкнетесь как с классическими задачами, так и с теми, которые встречаются на собеседованиях в таких крупных компаниях, как Google, Amazon, Apple, Twitter и Microsoft. Это позволит вам разносторонне развить навыки работы с переменными, типами данных, условными конструкциями, циклами, функциями, объектами и различными алгоритмами.
			</p>
		</div>
		<div>
			<a href="" class="text-3xl font-bold mb-6 block underline">Go Тренажер</a>
			<p class="mb-6">
				Курс включает в себя разнообразные практические задачи по программированию, которые помогут улучшить ваш уровень программирования на JavaScript. Вы столкнетесь как с классическими задачами, так и с теми, которые встречаются на собеседованиях в таких крупных компаниях, как Google, Amazon, Apple, Twitter и Microsoft. Это позволит вам разносторонне развить навыки работы с переменными, типами данных, условными конструкциями, циклами, функциями, объектами и различными алгоритмами.
			</p>
		</div>
		<div>
			<a href="" class="text-3xl font-bold mb-6 block underline">PHP Тренажер</a>
			<p class="mb-6">
				Курс включает в себя разнообразные практические задачи по программированию, которые помогут улучшить ваш уровень программирования на JavaScript. Вы столкнетесь как с классическими задачами, так и с теми, которые встречаются на собеседованиях в таких крупных компаниях, как Google, Amazon, Apple, Twitter и Microsoft. Это позволит вам разносторонне развить навыки работы с переменными, типами данных, условными конструкциями, циклами, функциями, объектами и различными алгоритмами.
			</p>
		</div>
	  </div>
</Layout>