---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">	
	<h3 class="text-7xl text-center my-20 uppercase font-bold">Курсы</h3>
	<p class="mb-20 text-xl">
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor, dolorum. Fugiat, enim. Ex laborum amet sed ipsa quas iure at dolores, quaerat laboriosam voluptate natus reprehenderit numquam unde placeat voluptates!
	</p>
</Layout>