---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import { categories } from '../consts';

let articles = (await getCollection('articles')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

articles = articles.slice(0,3);
---

<Layout title="Про разработку программного обеспечения" 
        description="О разработке программного обеспечения, веб разработке и IT">	

	<h3 class="text-4xl lg:text-7xl  text-left block py-14 uppercase font-bold border-b-2 border-black">Привет!<br>Меня зовут Сергей!</h3>
	<div class="text-xl py-10 border-b-2 border-black">
		<p>Я частный разработчик, ментор и преподаватель онлайн-курсов.</p>
		<p>В течение 18 лет я посвятил себя разработке, поддержке и тестированию проектов различной сложности. За это время я приобрел обширный опыт работы с различными языками программирования и технологиями.</p>
		<p class="mb-0">Я готов поделиться своими знаниями и опытом с вами, помогая вам улучшить ваши навыки программирования и достичь своих целей. Рад быть вашим гидом в мире разработки программного обеспечения!</p>
	</div>
	
	<h3 class="text-4xl lg:text-7xl  text-left block py-14 uppercase font-bold border-b-2 border-black">Новые статьи</h3>
	<div>
		{
			articles.map((article, index) => (
				<div class=`lg:flex ${index < articles.length - 1 ? "border-b border-dashed border-slate-500" : "border-b-2 border-solid border-black"} py-4 items-center`>
					<div class="lg:w-9/12 w-full pb-0 pt-0">
						<a href=`/articles/${article.slug}/` class="text-xl hover:underline">{article.data.title}</a>
					</div>
					<div class="lg:w-3/12 mt-10 lg:mt-0 w-full lg:text-right pb-0 pt-0">
						{
							article.data.categories.map((category) => (
									<a href=`/articles/categories/${category}/` class="bg-black text-white px-2 py-1 ml-2 text-sm font-normal">
										{categories[category]['title']}
									</a>
								)
							)
						}
					</div>
				</div>
			))
		}
	</div>

	  <div class="text-center p-10">
		<a href="/articles/" class="text-2xl font-bold block underline uppercase">Все статьи</a>
	  </div>
	  
	  <h3 class="text-4xl lg:text-7xl  text-left block py-14 uppercase font-bold border-b-2 border-t-2 border-solid border-black">Онлайн-курсы<br> по IT-профессиям</h3>
	  <div class="grid grid-cols-1 gap-10 courses mt-10 mb-10">
		    <div class="p-10 border-2 border-black">
				<a class="text-2xl font-bold mb-6 block underline" href="https://stepik.org/a/134850">JavaScript Базовый уровень</a>
				<p><strong>В курс входят</strong>:<br> 222 урока, 836 тестов, 231 интерактивная задача</p>
				<p>
					Самый полный курс по JavaScript для начинающих программистов! Этот курс идеально подходит для программистов, которые хотят изучить основы языка программирования JavaScript. В ходе курса вы узнаете основные концепции языка, включая переменные, типы данных, условные конструкции, циклы, функции и объекты. Курс также включает в себя большое количество практических заданий, которые помогут закрепить полученные знания.
				</p>
			</div>
			<div class="p-10 border-2 border-black">				
				<a class="text-2xl font-bold mb-6 block underline" href="https://stepik.org/a/177315">JavaScript Продвинутый уровень</a>
				<p><strong>В курс входят</strong>:<br> 173 урока, 817 тестов, 155 интерактивных задач</p>
				<p>
					Этот курс представляет следующий этап вашего путешествия в мире разработки приложений на JavaScript. Если вы владеете основами и стремитесь глубже освоить продвинутые концепции и методы, то этот курс именно для вас. Обширные практические задания позволят вам закрепить и применить знания на практике. Вы также столкнетесь с разнообразными тестовыми и классическими задачами, которые часто встречаются на собеседованиях в ведущих компаниях, включая Google, Amazon, Apple, Twitter и Microsoft.			
				</p>
			</div>
		</div>
		<div class="text-center uppercase border-t-2 border-black py-10 items-center">
			<a href="/courses/" class="text-2xl font-bold block underline">Все курсы</a>
		</div>
	</div>
</Layout>