---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Онлайн-курсы по IT-профессиям" description="Онлайн-курсы по IT-профессиям для специалистов и начинающих" keywords="онлайн-курсы, IT-профессии, обучение, новички, специалисты, востребованные профессии, интернет-обучение, обновление навыков, продвинутые курсы, IT-специальности, успешная карьера">	
	<h3 class="text-7xl text-left block py-14 p-10 uppercase font-bold border-b-2 border-solid border-black">Проекты</h3>
	
	<div class="grid lg:grid-cols-3 grid-cols-1">
		<div class="border-b-2 border-r-2 border-black p-10 border-l-0 border-t-0">
			<a class="text-2xl font-bold mb-6 block underline" href="https://stepik.org/a/134850">Thermage</a>
			<p>php</p>
			<p class="lg:min-h-[220px]">
				Функциональный и мощный объектно-ориентированный интерфейс для настройки цвета текста, фона, форматирования, темизации и многого другого при выводе информации в интерфейсе командной строки (CLI).
			</p>
		</div>
		<div class="border border-l-0 border-black p-10 border-r-2 border-b-2 border-t-0">
			<a class="text-2xl font-bold mb-6 block underline" href="https://stepik.org/a/177315">Flextype</a>
			<p>php</p>
			<p class="lg:min-h-[220px]">
				Современная система управления контентом с открытым исходным кодом, работающая на основе плоских файлов.
			</p>
		</div>
		<div class="border border-l-0 border-black p-10 border-r-0 border-b-2 border-t-0">
			<a class="text-2xl font-bold mb-6 block underline" href="https://stepik.org/a/177315">Flextype</a>
			<p>php</p>
			<p class="lg:min-h-[220px]">
				Современная система управления контентом с открытым исходным кодом, работающая на основе плоских файлов.
			</p>
		</div>
	
		
	
		
	</div>
</Layout>