---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Что такое Markdown?" 
	    description="Курс предназначен для освоения ключевых принципов и навыков использования языка разметки Markdown. Этот курс разработан с учетом потребностей тех, кто стремится овладеть этим простым и эффективным инструментом форматирования текста." 
		keywords="markdown">	
	<h1 class="text-4xl lg:text-5xl text-left block  border-b-2 py-14 p-10 pl-0 border-solid border-black">Что такое Markdown?</h1>
	<div class="py-4">
		<a href="/courses/">Курсы</a> <span class="px-2">/</span> <a href="/courses/markdown/">Markdown</a>
	</div>
	<div class="pt-10 pb-10 border-black border-t-2">

		<p><strong>Markdown</strong> &mdash; это легкий язык разметки, который позволяет добавлять элементы форматирования к обычному тексту. Созданный <strong>Джоном Грубером (John Gruber) </strong>в сотрудничестве с <strong>Аароном Шварцем (Aaron Swartz)</strong> в 2004 году, <strong>Markdown</strong> теперь является одним из самых популярных языков разметки в мире.</p>
		
		<p>Отличие использования <strong>Markdown</strong> от <strong>WYSIWYG</strong>-редакторов, таких как <strong>Microsoft Word (Windows) </strong>или<strong> Pages (macOS)</strong>, заключается в том, что в <strong>Markdown</strong> вы добавляете специальный синтаксис к тексту, указывая, какие части текста должны выглядеть иначе.</p>
		
		<p>Например, чтобы создать заголовок, добавляется символ номера перед текстом (например, <code># Заголовок первого уровня</code>).</p>
		
		<p>Чтобы сделать фразу жирной, необходимо добавить две звездочки до и после нее (например, <code>**этот текст выделен жирным**</code>).</p>
		
		<center><img alt="" height="479" name="Screenshot 2023-11-10 at 20.14.42.png" src="https://ik.imagekit.io/awilum/awilum-ru/Screenshot%202023-11-10%20at%2020.14.42.png?updatedAt=1708056877789" width="800" /></center>
		
		<p>Привыкнуть к синтаксису <strong>Markdown</strong> может потребовать времени, особенно если вы привыкли к редакторам <strong>WYSIWYG</strong>.&nbsp;</p>
		
		<p><strong>WYSIWYG</strong> &mdash; это акроним от английской фразы &quot;What You See Is What You Get&quot; (что видишь, то и получишь). Это термин, который описывает редакторы и программы, в которых пользователь видит на экране компьютера то, каким будет окончательный результат своей работы при печати или публикации, без необходимости использования кодов разметки или других технических элементов.</p>
		
		<p>Принцип работы <strong>WYSIWYG</strong> заключается в том, что пользователь визуально форматирует документ, используя интерфейс программы, а программа автоматически генерирует соответствующий код или разметку. Это делает процесс создания содержания более доступным для людей, не обладающих глубокими знаниями программирования или разметки.</p>
		
		<p>Примерами <strong>WYSIWYG</strong>-редакторов являются <strong>Microsoft Word</strong>, <strong>Google Docs</strong>, <strong>Pages</strong>, и многие другие текстовые и графические редакторы. В таких приложениях пользователи могут выделять текст, изменять шрифт, размер и цвет символов, вставлять изображения и таблицы, применять стили, и все изменения видны непосредственно в режиме реального времени, без необходимости ввода кода.</p>
		
		<center><img alt="" height="551" name="Screenshot 2023-11-10 at 20.12.45.png" src="https://ik.imagekit.io/awilum/awilum-ru/Screenshot%202023-11-10%20at%2020.12.45.png?updatedAt=1708056877721" width="800" /></center>
		
		<p>В сравнении с <strong>WYSIWYG</strong>, язык разметки, такой как <strong>Markdown</strong>, требует вручную добавлять символы и синтаксис для форматирования текста. В обмен на некоторую степень &quot;ручного&quot; управления, <strong>Markdown</strong> обеспечивает более легкий и чистый код, что может быть полезно при создании текстового контента для веб-сайтов и других цифровых платформ.</p>
		
		<p>Элементы форматирования <strong>Markdown</strong> можно добавлять в обычный текстовый файл, используя текстовый редактор, или использовать одно из многочисленных приложений <strong>Markdown</strong> для различных операционных систем. Существуют также веб-приложения, специально предназначенные для написания в <strong>Markdown</strong>.</p>
		
		<p>В зависимости от приложения предварительный просмотр отформатированного документа может быть недоступен в реальном времени, но это не является проблемой. Синтаксис <strong>Markdown</strong> разработан так, чтобы текст в файлах оставался читаемым и без форматирования.</p>
		
		<p>Главная цель форматирования в <strong>Markdown</strong>&nbsp;&mdash; сделать текст максимально читаемым. Идея заключается в том, что документ в формате <strong>Markdown</strong> можно опубликовать в виде обычного текста, без заметных следов разметки или форматирования.</p>
		
	</div>

	<div class="pt-10 pb-10 border-black border-t-2 text-center grid grid-cols-1 lg:grid-cols-2 gap-4">
		<a href="javascript:;" class="bg-white text-black border-2 border-black rounded px-14 py-2 mr-2  opacity-20 no-underline">Что такое Markdown?</a>
		<a href="/courses/markdown/why-use-markdown/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white px-14 py-2 mr-2  no-underline">Зачем использовать Markdown?</a>
	</div>

	<div class="pt-10 pb-10 border-black border-t-2 text-center">
		<a target="_blank" href="https://stepik.org/course/187888/promo" class="bg-white text-black  text-center border-2 border-black rounded hover:bg-black hover:text-white px-8 lg:px-24 py-4 mr-2  no-underline">Записаться на курс</a>
	</div>
</Layout>