---
import Layout from '../../../../layouts/Layout.astro';
import { Prism } from '@astrojs/prism';
---

<Layout title="Горизонтальные линии" 
	    description="Курс предназначен для освоения ключевых принципов и навыков использования языка разметки Markdown. Этот курс разработан с учетом потребностей тех, кто стремится овладеть этим простым и эффективным инструментом форматирования текста." 
		keywords="markdown">	
	<h1 class="text-4xl lg:text-5xl text-left block  border-b-2 py-14 p-10 pl-0 pr-[200px] border-solid border-black">Горизонтальные линии</h1>
	<div class="py-4">
		<a href="/courses/">Курсы</a> <span class="px-2">/</span> <a href="/courses/markdown/">Markdown</a> <span class="px-2">/</span> <a href="/courses/markdown/basic-syntax/">Базовый синтаксис</a>
	</div>
	
	<div class="pt-10 pb-10 border-black border-t-2">
			
		<p><strong>Горизонтальные линии (Horizontal Rules)</strong> в <strong>Markdown</strong> служат для создания разделителей между различными частями текста, делая документ более читаемым и организованным.</p>

		<h3>Создание горизонтальных линий</h3>
		
		<p>Чтобы создать горизонтальную линию, используйте три дефиса <code>---</code>, три подчеркивания <code>___</code>&nbsp;или три звездочки <code>***</code>.</p>
		
		<p><strong>Пример (Markdown):</strong></p>

<Prism lang="markdown" code={`Глава первая: Исчезновение Уилла Байерса
		
---

Глава вторая: Чудак с Кленовой улицы

***

Глава третья: Здорово, Джолли

___
`} />
		
		<p><strong>Результат (HTML):</strong></p>
	

<Prism lang="html" code={`<p>Глава первая: Исчезновение Уилла Байерса</p>
<hr>
<p>Глава вторая: Чудак с Кленовой улицы</p>
<hr>
<p>Глава третья: Здорово, Джолли</p>
<hr>
`} />
		
		<p><strong>Результат (Отображение):</strong></p>
		
		<p>Глава первая: Исчезновение Уилла Байерса</p>
		
		<hr class="border-b border-black mt-4 mb-4">		

		<p>Глава вторая: Чудак с Кленовой улицы</p>
		
		<hr class="border-b border-black mt-4 mb-4">	

		<p>Глава третья: Здорово, Джолли</p>		

	</div>

	<div class="pt-10 pb-10 border-black border-t-2 text-center grid grid-cols-1 lg:grid-cols-2 gap-4">
		<a href="/courses/markdown/basic-syntax/code/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white px-14 py-2 mr-2  no-underline">Списки</a>
		<a href="/courses/markdown/basic-syntax/links/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white px-14 py-2 mr-2  no-underline">Ссылки</a>
	</div>

	<div class="pt-10 pb-10 border-black border-t-2 text-center">
		<a target="_blank" href="https://stepik.org/course/187888/promo" class="bg-white text-black  text-center border-2 border-black rounded hover:bg-black hover:text-white px-8 lg:px-24 py-4 mr-2  no-underline">Записаться на курс</a>
	</div>
</Layout>