---
import Layout from '../../../../layouts/Layout.astro';
---

<Layout title="Markdown" 
	    description="Курс предназначен для освоения ключевых принципов и навыков использования языка разметки Markdown. Этот курс разработан с учетом потребностей тех, кто стремится овладеть этим простым и эффективным инструментом форматирования текста." 
		keywords="markdown">	
	<h1 class="text-4xl lg:text-5xl text-left block  border-b-2 py-14 border-solid border-black">Базовый синтаксис</h1>
	<div class="py-4">
		<a href="/courses/">Курсы</a> <span class="px-2">/</span> <a href="/courses/markdown/">Markdown</a> <span class="px-2">/</span> <a href="/courses/markdown/basic-syntax/">Базовый синтаксис</a>
	</div>
	<div class="pt-10 pb-10 border-black border-t-2">

			
		<p>В этом модуле вы изучите фундаментальные принципы языка разметки <strong>Markdown</strong>. Вы начнете с создания заголовков разных уровней для организации текста. После этого вы овладеете созданием параграфов и научитесь использовать переносы строк для повышения читаемости. Вы также познакомитесь элементами акцентирования, блоками цитат, списками и вставкой кода. Также в этом модуле будут рассмотрены горизонтальные линии, ссылки, вставка изображений и использование экранирующих символов для корректного отображения специальных символов.</p>

		<p>&nbsp;</p>

		<h4 class="text-3xl mt-4 mb-4">Уроки</h4>
		<div class="pt-10 pb-10 border-black border-t-2 text-center grid grid-cols-2 lg:grid-cols-2 gap-4">
			<a href="/courses/markdown/basic-syntax/headings/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white px-4 py-2 mr-2  no-underline">Заголовки</a>
			<a href="/courses/markdown/basic-syntax/paragraphs/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white px-4 py-2 mr-2  no-underline">Параграфы</a>
			<a href="/courses/markdown/basic-syntax/line-breaks/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white px-4 py-2 mr-2 no-underline">Переносы строк</a>
			<a href="/courses/markdown/basic-syntax/emphasis/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white px-4 py-2 mr-2 no-underline">Акценты</a>
			<a href="/courses/markdown/basic-syntax/blockquotes/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white px-4 py-2 mr-2 no-underline">Блок цитат</a>
			<a href="/courses/markdown/basic-syntax/lists/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white px-4 py-2 mr-2 no-underline">Списки</a>
			<a href="/courses/markdown/basic-syntax/code/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white px-4 py-2 mr-2 no-underline">Код</a>
			<a href="/courses/markdown/basic-syntax/horizontal-rules/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white px-4 py-2 mr-2 no-underline">Горизонтальные линии</a>
			<a href="/courses/markdown/basic-syntax/links/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white px-4 py-2 mr-2 no-underline">Ссылки</a>
			<a href="/courses/markdown/basic-syntax/images/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white px-4 py-2 mr-2 no-underline">Изображения</a>
			<a href="/courses/markdown/basic-syntax/escaping-characters" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white px-4 py-2 mr-2 no-underline">Экранирующие символы</a>
		</div>

	</div>


	<div class="pt-10 pb-10 border-black border-t-2 text-center">
		<a target="_blank" href="https://stepik.org/course/187888/promo" class="bg-white text-black  text-center border-2 border-black rounded hover:bg-black hover:text-white px-8 lg:px-24 py-4 mr-2  no-underline">Записаться на курс</a>
	</div>
</Layout>