---
import Layout from '../../../../layouts/Layout.astro';
import { Prism } from '@astrojs/prism';
---

<Layout title="Переносы строк" 
	    description="Курс предназначен для освоения ключевых принципов и навыков использования языка разметки Markdown. Этот курс разработан с учетом потребностей тех, кто стремится овладеть этим простым и эффективным инструментом форматирования текста." 
		keywords="markdown">	
	<h1 class="text-4xl lg:text-5xl text-left block  border-b-2 py-14 p-10 pl-0 pr-[200px] border-solid border-black">Переносы строк</h1>
	<div class="py-4">
		<a href="/courses/">Курсы</a> <span class="px-2">/</span> <a href="/courses/markdown/">Markdown</a> <span class="px-2">/</span> <a href="/courses/markdown/basic-syntax/">Базовый синтаксис</a>
	</div>
	<div class="pt-10 pb-10 border-black border-t-2">

		<p>В <strong>Markdown</strong> <strong>перенос строки (Line Breaks)</strong> может быть не так прост, как в обычных текстовых редакторах. В этом уроке мы рассмотрим, как использовать переносы строк для форматирования текста в <strong>Markdown</strong>.</p>

		<h3>Добавление переноса строк</h3>

		<p>Чтобы добавить простой перенос строки (без создания нового абзаца), в конце строки вставьте два пробела перед переводом строки.</p>

		<p><strong>Пример (Markdown):</strong></p>

		<Prism lang="markdown" code={`Этот портал  
открылся совсем  
неожиданно.		
`} />

		<p><strong>Результат (HTML):</strong></p>

<Prism lang="html" code={`Этот портал<br>
открылся совсем<br>
неожиданно.		
`} />

		<p><strong>Результат (Отображение):</strong></p>

		<p>Этот портал<br />
		открылся совсем<br />
		неожиданно.</p>

		<p>&nbsp;</p>

		<p>Если ваше приложение для работы с <strong>Markdown</strong> поддерживает <strong>HTML</strong>, вы можете использовать тег <strong>HTML</strong> <code>&lt;br&gt;</code>&nbsp;для создания переноса строки внутри параграфа.&nbsp;</p>

		<p><strong>Пример (Markdown):</strong></p>

<Prism lang="markdown" code={`Этот портал<br>
открылся совсем<br>
неожиданно.		
`} />

		<p><strong>Результат (HTML):</strong>&nbsp;</p>

<Prism lang="html" code={`Этот портал<br>
открылся совсем<br>
неожиданно.		
`} />

		<p><strong>Результат (Отображение):</strong>&nbsp;</p>

		<p>Этот портал<br />
		открылся совсем<br />
		неожиданно.</p>


	</div>

	<div class="pt-10 pb-10 border-black border-t-2 text-center grid grid-cols-1 lg:grid-cols-2 gap-4">
		<a href="/courses/markdown/basic-syntax/paragraphs/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white px-14 py-2 mr-2  no-underline">Параграфы</a>
		<a href="/courses/markdown/basic-syntax/emphasis/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white px-14 py-2 mr-2  no-underline">Акценты</a>
	</div>

	<div class="pt-10 pb-10 border-black border-t-2 text-center">
		<a target="_blank" href="https://stepik.org/course/187888/promo" class="bg-white text-black  text-center border-2 border-black rounded hover:bg-black hover:text-white px-8 lg:px-24 py-4 mr-2  no-underline">Записаться на курс</a>
	</div>
</Layout>