---
import Layout from '../../../../layouts/Layout.astro';
import { Prism } from '@astrojs/prism';
---

<Layout title="Параграфы в Markdown" 
	    description="В этом уроке вы узнаете как создвать параграфы в Markdown." 
		keywords="markdown">	
	<h1 class="text-4xl lg:text-5xl text-left block  border-b-2 py-14 p-10 pl-0 pr-[200px] border-solid border-black">Параграфы</h1>
	<div class="py-4">
		<a href="/courses/">Курсы</a> <span class="px-2">/</span> <a href="/courses/markdown/">Markdown</a> <span class="px-2">/</span> <a href="/courses/markdown/basic-syntax/">Базовый синтаксис</a>
	</div>
	<div class="pt-10 pb-10 border-black border-t-2">

		<p>В <strong>Markdown</strong> создание <strong>параграфов (Paragraphs)</strong> осуществляется с использованием пустой строки для разделения одной или нескольких строк текста.</p>

		

		<h3>Создание параграфов</h3>

		<p><strong>Пример (Markdown):</strong></p>

<Prism lang="markdown" code={`Эл: Это что, портал в другое измерение?

Майк: Да, и он открылся прямо в нашем подвале!

Люси: Вы уверены, что нам стоит туда входить?
`} />

		<p><strong>Результат (HTML):</strong></p>


<Prism lang="html" code={`<p>Эл: Это что, портал в другое измерение?</p>
<p>Майк: Да, и он открылся прямо в нашем подвале!</p>
<p>Люси: Вы уверены, что нам стоит туда входить?</p>
`} />

		<p><strong>Результат (Отображение):</strong></p>

		<p>Эл: Это что, портал в другое измерение?</p>

		<p>Майк: Да, и он открылся прямо в нашем подвале!</p>

		<p>Люси: Вы уверены, что нам стоит туда входить?</p>

	
		<h3><strong>Несколько советов</strong></h3>

		<ul>
			<li>Не добавляйте табуляции или пробелы перед вашими параграфами.&nbsp;<br />
			<br />
			Если вам нужно добавить отступы для параграфов в выводе используйте <code>&amp;nbsp;</code> &mdash; неразрывный пробел (Non-breaking space)<br />
			<br />
			
			<p><strong>Пример (Markdown):</strong></p>

			<Prism lang="markdown" code={`&nbsp;&nbsp;&nbsp;&nbsp;Эл: Это что, портал в другое измерение?`} />

			<p><strong>Результат (HTML):</strong></p>

			<Prism lang="html" code={`&nbsp;&nbsp;&nbsp;&nbsp;Эл: Это что, портал в другое измерение?`} />

			<p><strong>Результат (Отображение):</strong></p>

			<p>&nbsp;&nbsp;&nbsp;&nbsp;Эл: Это что, портал в другое измерение?</p>
			&nbsp;</li>

			<li>Сохраняйте строки с выравниванием по левому краю.</li>
		</ul>


		<h3>Выравнивание текста по центру</h3>

		<p>К сожалению, в <strong>Markdown</strong> отсутствует концепция выравнивания текста (единственным исключением может быть использование таблиц). Хорошая новость заключается в том, что есть <strong>HTML</strong>-тег, который вы можете использовать: <code>&lt;center&gt;</code>.</p>

		<p>Если ваш процессор <strong>Markdown</strong> поддерживает <strong>HTML</strong>, вы можете поместить эти теги вокруг текста, который вы хотите выровнять по центру.</p>

		<p><strong>Пример (Markdown):</strong></p>

		<Prism lang="markdown" code={`<center>Это что, портал в другое измерение?</center>`} />

		<p><strong>Результат (HTML):</strong></p>

		<Prism lang="html" code={`<center>Это что, портал в другое измерение?</center>`} />

		<strong>Результат (Отображение):</strong>  

		<p style="text-align:center">Это что, портал в другое измерение?</p>

		<p><strong>HTML</strong>-тег <code>&lt;center&gt;</code> технически поддерживается, но официально устарел, что означает, что он работает в настоящее время, но вы не должны его использовать. К сожалению, нет другой чистой <strong>HTML</strong>-альтернативы. Вы можете попробовать использовать один из альтернативных вариантов с использованием <strong>встроенных стилей (Inline Styles)</strong>. Не все приложения <strong>Markdown</strong> поддерживают <strong>встроенные стили (Inline Styles)</strong>, но если то, которое вы используете, поддерживает, ниже пример альтернативы тегу <code>&lt;center&gt;</code></p>

		<p><strong>Пример (Markdown):</strong></p> 

		<Prism lang="markdown" code={`<p style="text-align:center">Это что, портал в другое измерение?</p>`} />

		<p><strong>Результат (HTML):</strong></p>

		<Prism lang="html" code={`<p style="text-align:center">Это что, портал в другое измерение?</p>`} />

		<strong>Результат (Отображение):</strong>  

		<p style="text-align:center">Это что, портал в другое измерение?</p>

	</div>

	<div class="pt-10 pb-10 border-black border-t-2 text-center grid grid-cols-1 lg:grid-cols-2 gap-4">
		<a href="/courses/markdown/basic-syntax/headings/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white px-14 py-2 mr-2  no-underline">Заголовки</a>
		<a href="/courses/markdown/basic-syntax/line-breaks/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white px-14 py-2 mr-2  no-underline">Переносы строк</a>
	</div>

	<div class="pt-10 pb-10 border-black border-t-2 text-center">
		<a target="_blank" href="https://stepik.org/course/187888/promo" class="bg-white text-black  text-center border-2 border-black rounded hover:bg-black hover:text-white px-8 lg:px-24 py-4 mr-2  no-underline">Записаться на курс</a>
	</div>
</Layout>