--- 
interface Props {
	title: string;
	description: string;
	keywords: string;
}

const { title, description, keywords } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="lofi">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description}>
		<meta name="keywords" content={keywords}>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/themes/prism.min.css" integrity="sha512-/mZ1FHPkg6EKcxo0fKXF51ak6Cr2ocgDi5ytaTBjsQZIH/RNs6GF6+oId/vPe3eJB836T36nXwVh/WBl/cWT4w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<title>{title}</title>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&amp;display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="flex bg-base-100 max-w-[1250px] mx-auto border-2 mt-10 border-black items-center">
			<div class="text-center uppercase border-r-2 border-black">
			  <a class="block font-black text-6xl hover:bg-black hover:text-white" href="/" style="padding: 22px 30px;">awilum.ru</a>
			</div>
			<div class="flex text-center w-full  text-xl uppercase">
				<a style="padding: 40px 40px" class="flex-auto border-black border-r-2 font-bold hover:bg-black hover:text-white border-black" href="/articles/">Статьи</a>
				<a style="padding: 40px 40px" class="flex-auto border-black border-r-2 font-bold hover:bg-black hover:text-white border-black" href="/courses/">Курсы</a>
			    <a style="padding: 40px 40px" class="flex-auto font-bold hover:bg-black hover:text-white" href="/about/">Об авторе</a>
			</div>
		</div>
		<div class="max-w-[1250px] mx-auto border-2 border-t-0 border-black">
		  	<slot />
		</div>
		<footer class="max-w-[1250px] mx-auto border-2 border-t-0 border-black p-10 py-20 border-black mb-10 border-solid ">
			<p>
				<span class="mr-1 font-bold">Курсы:</span>
				<a href="https://stepik.org/a/134850" class="underline">JavaScript Базовый уровень</a> • 
				<a href="https://stepik.org/a/177315" class="underline">JavaScript Продвинутый уровень</a> • 
				<a href="https://stepik.org/a/172576" class="underline">JavaScript Тренажер</a> •
				<a href="/courses/" class="underline">Все курсы</a>
			</p>
			<p>
				<span class="mr-1 font-bold">Статьи:</span>
				<a href="/articles/rol-yazyka-programmirovaniya-v-sozdanii-programmnogo-obespecheniya" class="underline">Роль языка программирования в создании программного обеспечения</a> • 
				<a href="/articles/programmirovanie-eto-ne-tolko-znanie-yazyka-programmirovaniya" class="underline">Программирование – это не только знание языка программирования</a> • 
				<a href="/articles/vazhnost-razvitiya-logicheskogo-myshleniya-dlya-programmista" class="underline">Важность развития логического мышления для программиста</a> •
				<a href="/articles/" class="underline">Все статьи</a>
			</p>
			<p>
				<span class="mr-1 font-bold">Ссылки:</span>
				<a href="https://twitter.com/_awilum" class="underline">Twitter</a> • 
				<a href="https://github.com/Awilum" class="underline">GitHub</a> • 
				<a href="https://www.linkedin.com/in/sergey-romanenko/" class="underline">Linkedin</a> • 
				<a href="https://awilum.t.me" class="underline">Telegram</a> • 
				<a href="https://www.instagram.com/sergey.romanenko/" class="underline">Instagram</a>
			</p>
			<p class="font-semibold text-xs m-0">&copy; SERGEY ROMANENKO 2023 • ALL RIGHTS RESERVED.</p>
		</footer>
	</body>
</html>
<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	html {
		font-family: system-ui, sans-serif;
		font-size: 18px;
		font-weight: 300;
	}
	
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

	p {
		margin-bottom: 20px;
	}

	ol {
		list-style: decimal!important;
		margin-left: 40px!important;
	}
</style>