--- 
interface Props {
	title: string;
	description: string;
	keywords: string;
}

const { title, description, keywords } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="lofi">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description}>
		<meta name="keywords" content={keywords}>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/themes/prism.min.css" integrity="sha512-/mZ1FHPkg6EKcxo0fKXF51ak6Cr2ocgDi5ytaTBjsQZIH/RNs6GF6+oId/vPe3eJB836T36nXwVh/WBl/cWT4w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<title>{title}</title>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&amp;display=swap" rel="stylesheet">
	</head>
	<body class="p-4 lg:p-0">
		<div class="lg:flex bg-base-100 max-w-[1000px] mx-auto lg:mt-10 items-center">
			<div class="text-center uppercase text-2xl mr-4">
			  <a class="block font-black underline" href="/">awilum.ru</a>
			</div>
			<div class="lg:flex text-center w-full lg:text-2xl text-xl uppercase">
				<a class="font-bold px-4 underline" href="/articles/">Статьи</a>
				<a class="font-bold px-4 underline" href="/courses/">Курсы</a>
			    <a class="font-bold px-4 underline" href="/about/">Об авторе</a>
			</div>
		</div>
		<div class="max-w-[1000px] mx-auto">
		  	<slot />
		</div>
		<footer class="max-w-[1000px] mx-auto py-20 mb-10 border-t-2 border-black">
			<p>
				<span class="mr-1 font-bold">Курсы:</span>
				<a href="https://stepik.org/a/134850" class="underline">JavaScript Базовый уровень</a><span class="text-xs px-2">•</span>
				<a href="https://stepik.org/a/177315" class="underline">JavaScript Продвинутый уровень</a><span class="text-xs px-2">•</span>
				<a href="https://stepik.org/a/172576" class="underline">JavaScript Тренажер</a><span class="text-xs px-2">•</span>
				<a href="/courses/" class="underline">Все курсы</a>
			</p>
			<p>
				<span class="mr-1 font-bold">Статьи:</span>
				<a href="/articles/rol-yazyka-programmirovaniya-v-sozdanii-programmnogo-obespecheniya" class="underline">Роль языка программирования в создании программного обеспечения</a><span class="text-xs px-2">•</span>
				<a href="/articles/programmirovanie-eto-ne-tolko-znanie-yazyka-programmirovaniya" class="underline">Программирование – это не только знание языка программирования</a><span class="text-xs px-2">•</span>
				<a href="/articles/vazhnost-razvitiya-logicheskogo-myshleniya-dlya-programmista" class="underline">Важность развития логического мышления для программиста</a><span class="text-xs px-2">•</span>
				<a href="/articles/" class="underline">Все статьи</a>
			</p>
			<p>
				<span class="mr-1 font-bold">Ссылки:</span>
				<a href="https://twitter.com/_awilum" class="underline">Twitter</a><span class="text-xs px-2">•</span>
				<a href="https://github.com/Awilum" class="underline">GitHub</a><span class="text-xs px-2">•</span>
				<a href="https://www.linkedin.com/in/sergey-romanenko/" class="underline">LinkedIn</a><span class="text-xs px-2">•</span>
				<a href="https://awilum.t.me" class="underline">Telegram</a><span class="text-xs px-2">•</span>
				<a href="https://www.instagram.com/sergey.romanenko/" class="underline">Instagram</a>
			</p>
			<p class="font-semibold text-xs m-0">&copy; SERGEY ROMANENKO <span class="px-2">•</span> ALL RIGHTS RESERVED.</p>
		</footer>
		<!-- Yandex.Metrika counter -->
		<script type="text/javascript" >
			(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
			m[i].l=1*new Date();
			for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
			k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
			(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
		
			ym(95236209, "init", {
				clickmap:true,
				trackLinks:true,
				accurateTrackBounce:true
			});
		</script>
		<noscript><div><img src="https://mc.yandex.ru/watch/95236209" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
		<!-- /Yandex.Metrika counter -->
	</body>
</html>
<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	html {
		font-family: Graphik, sans-serif;
		font-size: 18px;
		font-weight: 300;
	}
	
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

	p {
		margin-bottom: 20px;
	}

	ol {
		list-style: decimal!important;
		margin-left: 40px!important;
	}
</style>