---
import Layout from '../../../../layouts/Layout.astro';
---

<Layout title="Основы - SQL Базовый уровень" 
	    description="В этом модуле вы изучите фундаментальные принципы языка разметки Markdown. Вы начнете с создания заголовков разных уровней для организации текста. После этого вы овладеете созданием параграфов и научитесь использовать переносы строк для повышения читаемости. Вы также познакомитесь элементами акцентирования, блоками цитат, списками и вставкой кода. Также в этом модуле будут рассмотрены горизонтальные линии, ссылки, вставка изображений и использование экранирующих символов для корректного отображения специальных символов." 
		keywords="markdown">	
	<h1 class="text-4xl lg:text-5xl text-left block  border-b-2 py-14 border-solid border-black">Основы</h1>
	<div class="py-4">
		<a href="/courses/">Курсы</a> <span class="px-2">/</span> <a href="/courses/sql-basic/">SQL Базовый уровень</a> <span class="px-2">/</span> <a href="/courses/sql-basic/basic/">Основы</a>
	</div>
	<div class="pt-10 pb-10 border-black border-t-2">
		<h4 class="text-3xl mt-4 mb-4">Уроки</h4>
		<div class="pt-10 pb-10 border-black border-t-2 text-center grid grid-cols-1 lg:grid-cols-2 gap-4">
			<a href="/courses/sql-basic/basic/introduction/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white px-4 py-2 mr-2  no-underline">Введение в SQL</a>
			<a href="/courses/sql-basic/basic/style-guide/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white  py-2 mr-2  no-underline">Руководство по стилю SQL</a>
			<a href="/courses/sql-basic/basic/datatypes/" class="bg-white text-black border-2 border-black rounded  hover:bg-black hover:text-white py-2 mr-2  no-underline">Типы данных</a>
			<a href="/courses/sql-basic/basic/selecting-data/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white  py-2 mr-2  no-underline">Выборка данных</a>
			<a href="/courses/sql-basic/basic/sorting-data/" class="bg-white text-black border-2 border-black rounded  hover:bg-black hover:text-white py-2 mr-2  no-underline"С>Сортировка данных</a>
			<a href="/courses/sql-basic/basic/filtering-data/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white  py-2 mr-2  no-underline">Фильтрация данных</a>
			<a href="/courses/sql-basic/basic/comments/" class="bg-white text-black border-2 border-black rounded  hover:bg-black hover:text-white py-2 mr-2  no-underline"С>Комментарии</a>
			<a href="/courses/sql-basic/basic/variables/" class="bg-white text-black border-2 border-black rounded hover:bg-black hover:text-white  py-2 mr-2  no-underline">Переменные</a>
			<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 py-2 mr-2 no-underline cursor-not-allowed">Псевдонимы</a>
			<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 py-2 mr-2 no-underline cursor-not-allowed">Группировка</a>
			<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 py-2 mr-2 no-underline cursor-not-allowed">Подзапросы</a>
			<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 py-2 mr-2 no-underline cursor-not-allowed">Объединение запросов</a>
			<a href="javascript:;" class="bg-white text-black border-2 border-black rounded opacity-50 py-2 mr-2 no-underline cursor-not-allowed">Представления</a>
		</div>

	</div>

	<div class="pt-10 pb-10 border-black border-t-2 text-center">
		<a target="_blank" href="https://stepik.org/a/133728" class="bg-white text-black  text-center border-2 border-black rounded hover:bg-black hover:text-white px-8 lg:px-24 py-4 mr-2  no-underline">Записаться на курс</a>
	</div>
</Layout>