---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Онлайн-курсы по IT-профессиям" 
	    description="Онлайн-курсы по IT-профессиям для специалистов и начинающих" 
		keywords="онлайн-курсы, IT-профессии, обучение, новички, специалисты, востребованные профессии, интернет-обучение, обновление навыков, продвинутые курсы, IT-специальности, успешная карьера">	
	<h1 class="text-4xl lg:text-5xl text-left block py-14 p-10 pl-0 pr-0 border-b-2 border-solid border-black">Онлайн-курсы по IT-профессиям</h1>
	
	<div class="grid grid-cols-1 gap-10 courses mt-10 mb-10">
		<div class="p-10 border-2 border-black rounded">
			<a class="text-2xl  mb-6 block underline" href="/courses/javascript-basic/">JavaScript Базовый уровень</a>
			<p><b>В курс входят</b>:<br> 295 урок, 909 тестов, 246 интерактивных задач</p>
			<p class="">
				Самый полный курс по JavaScript для начинающих программистов! Этот курс идеально подходит для программистов, которые хотят изучить основы языка программирования JavaScript. В ходе курса вы узнаете основные концепции языка, включая переменные, типы данных, условные конструкции, циклы, функции и объекты. Курс также включает в себя большое количество практических заданий, которые помогут закрепить полученные знания.
			</p>
		</div>

		<div class="p-10 border-2 border-black rounded">
			<a class="text-2xl  mb-6 block underline" href="/courses/javascript-advanced/">JavaScript Продвинутый уровень</a>
			<p><b>В курс входят</b>:<br> 173 урока, 817 тестов, 155 интерактивных задач</p>
			<p class="">
				Этот курс представляет следующий этап вашего путешествия в мире разработки приложений на JavaScript. Если вы владеете основами и стремитесь глубже освоить продвинутые концепции и методы, то этот курс именно для вас. Обширные практические задания позволят вам закрепить и применить знания на практике. Вы также столкнетесь с разнообразными тестовыми и классическими задачами, которые часто встречаются на собеседованиях в ведущих компаниях, включая Google, Amazon, Apple, Twitter и Microsoft.			
			</p>
		</div>

		<div class="p-10 border-2 border-black rounded">
			<a class="text-2xl  mb-6 block underline" href="/courses/javascript-trainer/">JavaScript Тренажер</a>
			<p><b>В курс входят</b>:<br> 364 интерактивные задачи</p>
			<p class="">
				Курс включает в себя разнообразные практические задачи по программированию, которые помогут улучшить ваш уровень программирования на JavaScript. Вы столкнетесь как с классическими задачами, так и с теми, которые встречаются на собеседованиях в таких крупных компаниях, как Google, Amazon, Apple, Twitter и Microsoft. Это позволит вам разносторонне развить навыки работы с переменными, типами данных, условными конструкциями, циклами, функциями, объектами и различными алгоритмами.
			</p>
		</div>

		<div class="p-10 border-2 border-black rounded">
			<a class="text-2xl  mb-6 block underline" href="/courses/javascript-tests/">JavaScript Тесты</a>
			<p><b>В курс входят</b>:<br> 169 тестов</p>
			<p class="">
				Курс предназначен для проверки знаний JavaScript и подготовки к собеседованиям на позицию JavaScript-разработчиков! В рамках этого курса вы сможете оценить свои навыки по различным темам. Каждый вопрос снабжен вариантами ответа, из которых нужно выбрать правильный. Кроме того, к каждому вопросу прикреплены подсказки и разъяснения, чтобы облегчить процесс решения и понимания. Кроме того, в рамках данного курса представлены вопросы, которые встречаются на собеседованиях при найме JavaScript-разработчиков.
			</p>
		</div>

		<div class="p-10 border-2 border-black rounded">
			<a class="text-2xl  mb-6 block underline" href="/courses/sql-basic/">SQL Базовый уровень</a>
			<p><b>В курс входят</b>:<br> 83 урока, 255 тестов, 109 интерактивных задач</p>
			<p class="">
				SQL — декларативный язык программирования, применяемый для создания, модификации и управления данными в реляционной базе данных, управляемой соответствующей системой управления базами данных. В этом курсе вы изучите синтаксис, основные функции, конструкции языка SQL и узнаете, как работать с SQL базами данных.
			</p>
		</div>

		<div class="p-10 border-2 border-black rounded">
			<a class="text-2xl  mb-6 block underline" target="_blank" href="https://stepik.org/a/173184?utm_source=awilum&utm_medium=article&utm_campaign=sale&utm_content=courses+page">Python Тренажер</a>
			<p><b>В курс входят</b>:<br> 400 интерактивных задач</p>
			<p class="">
				Курс включает в себя разнообразные практические задачи по программированию, которые помогут улучшить ваш уровень программирования на Python. Вы столкнетесь как с классическими задачами, так и с теми, которые встречаются на собеседованиях в таких крупных компаниях, как Google, Amazon, Apple, Twitter и Microsoft. Это позволит вам разносторонне развить навыки работы с переменными, типами данных, условными конструкциями, циклами, функциями и различными алгоритмами.
			</p>
		</div>

		<div class="p-10 border-2 border-black rounded">
			<a class="text-2xl  mb-6 block underline" target="_blank" href="https://stepik.org/a/175966?utm_source=awilum&utm_medium=article&utm_campaign=sale&utm_content=courses+page">Go Тренажер</a>
			<p><b>В курс входят</b>:<br> 284 интерактивные задачи</p>
			<p class="">
				Курс включает в себя разнообразные практические задачи по программированию, которые помогут улучшить ваш уровень программирования на Go. Вы столкнетесь как с классическими задачами, так и с теми, которые встречаются на собеседованиях в таких крупных компаниях, как Google, Amazon, Apple, Twitter и Microsoft. Это позволит вам разносторонне развить навыки работы с переменными, типами данных, условными конструкциями, циклами, функциями и различными алгоритмами.
			</p>
		</div>

		<div class="p-10 border-2 border-black rounded">
			<a class="text-2xl  mb-6 block underline" target="_blank" href="https://stepik.org/a/174887?utm_source=awilum&utm_medium=article&utm_campaign=sale&utm_content=courses+page">PHP Тренажер</a>
			<p><b>В курс входят</b>:<br> 304 интерактивные задачи</p>
			<p class="">
				Курс включает в себя разнообразные практические задачи по программированию, которые помогут улучшить ваш уровень программирования на PHP. Вы столкнетесь как с классическими задачами, так и с теми, которые встречаются на собеседованиях в таких крупных компаниях, как Google, Amazon, Apple, Twitter и Microsoft. Это позволит вам разносторонне развить навыки работы с переменными, типами данных, условными конструкциями, циклами, функциями и различными алгоритмами.
			</p>
		</div>

		<div class="p-10 border-2 border-black rounded">
			<a class="text-2xl  mb-6 block underline" target="_blank" href="https://stepik.org/a/187934?utm_source=awilum&utm_medium=article&utm_campaign=sale&utm_content=courses+page">Kotlin Тренажер</a>
			<p><b>В курс входят</b>:<br> 253 интерактивные задачи</p>
			<p class="">
				Курс включает в себя разнообразные практические задачи по программированию, которые помогут улучшить ваш уровень программирования на Kotlin. Вы столкнетесь как с классическими задачами, так и с теми, которые встречаются на собеседованиях в таких крупных компаниях, как Google, Shopify, Autodesk, Netflix и Philips. Это позволит вам разносторонне развить навыки работы с переменными, типами данных, условными конструкциями, циклами, функциями и различными алгоритмами.
			</p>
		</div>

		<div class="p-10 border-2 border-black rounded">
			<a class="text-2xl  mb-6 block underline" target="_blank" href="https://stepik.org/course/182389/">Java Тренажер</a>
			<p><b>В курс входят</b>:<br> 188 интерактивных задач</p>
			<p class="">
				Курс включает в себя разнообразные практические задачи по программированию, которые помогут улучшить ваш уровень программирования на Java. В рамках курса вы столкнетесь как с традиционными задачами, так и с теми, которые часто встречаются на собеседованиях в крупных компаниях, таких как Google, Shopify, Autodesk, Netflix и Philips. Это поможет вам разносторонне развить свои навыки работы с переменными, типами данных, условными конструкциями, циклами, функциями и различными алгоритмами.
			</p>
		</div>

		<div class="p-10 border-2 border-black rounded">
			<a class="text-2xl  mb-6 block underline" target="_blank" href="https://stepik.org/course/132225/promo">SQL Introduction</a>
			<p><b>В курс входят</b>:<br> 30 уроков, 105 тестов, 26 интерактивных задач</p>
			<p class="">
				SQL - это язык структурированных запросов, созданный специально для управления и манипулирования данными, хранящимися в реляционных базах данных. В этом курсе вы узнаете основные возможности SQL и научитесь работать с базами данных, использующими SQL.
			</p>
		</div>

		<div class="p-10 border-2 border-black rounded">
			<a class="text-2xl  mb-6 block underline" href="/courses/markdown/">Markdown</a>
			<p><b>В курс входят</b>:<br> 28 уроков, 55 тестов</p>
			<p>
				Курс предназначен для освоения ключевых принципов и навыков использования языка разметки Markdown. Этот курс разработан с учетом потребностей тех, кто стремится овладеть этим простым и эффективным инструментом форматирования текста.
			</p>
		</div>
	</div>
</Layout>